<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <%- include('./navbar.ejs', { connected: connected }) -%>

    <div class="container mt-5 mb-5">
      <div class="row">
        <% if (logOk !== true) { %>
        <form class="col" style="color:white;" method="post" action="http://localhost:3000/auth/login">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <% if (fromRegister) { %>
            <p>registration completed</p>
          <% }
            if (failLogin !== '') { %>
            <p><%= failLogin %></p>
          <% } %>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <% } else { %>
          <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Well done!</h4>
            <p>You are now connected ! Feel free to comment the latest news on our website !</p>
            <hr>
            <a href="http://localhost:3000/en">Get back to the content !</a>
          </div>
        <% } %>
      </div>
    </div>

    <%- include('./footer.ejs') -%>
  </body>
</html>
